/**
 * closed-color
 * opened-color
 * icon-bg
 * pressed-color
 * activated-color
 */
:host {
  display: inline-block;
  vertical-align: top;
  position: relative;
  outline: none;
  font-size: 14px;
  cursor: default;
  margin: 8px 0;
  height: 32px;
  overflow: visible;
}
:host([animated]) *,
:host([animated]) /deep/ *,
:host([animated]) ::content * {
  transition: 200ms ease-in;
}
#main, #chip {
  border-radius: 16px;
}
#main {
  background-color: var(--paper-chip-background-color, --paper-grey-200);
  position: relative;
  color: var(--paper-chip-secondary-text-color, --secondary-text-color);
  @apply(--layout-vertical);
}
#chip {
  box-sizing: border-box;
  height: 32px;
  @apply(--layout-horizontal);
  @apply(--layout-center);
}
paper-material {
  border-radius: 16px;
}
#icon {
  @apply(--layout-horizontal);
  @apply(--layout-center);
  @apply(--layout-center-justified);
}
#icon ::content .icon {
  margin-right: -4px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 100%;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--paper-chip-icon-background-color, --paper-grey-500);
  color: var(--paper-chip-icon-text-color, --text-primary-color);
  @apply(--layout-flex);
}
#icon ::content iron-icon.icon,
#icon ::content iron-icon.icon svg {
  width: 32px;
  height: 32px;
}
#icon ::content iron-icon.icon {
  vertical-align: bottom;
}
#label {
  padding: 0 12px;
  @apply(--layout-flex-auto);
  @apply(--layout-self-center);
}
#label ::content h1,
#label ::content h2 {
  white-space: nowrap;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
}
.icon-btn-wrapper {
  @apply(--layout-self-center);
}
#removeBtn {
  padding: 0;
}
#removeBtn {
  background-color: var(--paper-chip-removebtn-background-color, --paper-grey-400);
  color: var(--paper-chip-removebtn-icon-color, --text-primary-color);
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  margin-left: 20px;
  border-radius: 100%;
}
#removeBtn /deep/ iron-icon {
  width: 16px;
  height: 16px;
  margin: 2px;
}
:host(:not([removable])) #removeBtn {
  display: none;
}
/* pressed state */
:host([pressed]) #main {
  background-color: var(--paper-chip-pressed-background-color, --paper-grey-300);
}

/* initially hidden elements */
:host(:not([opened])) #label ::content h2 {
  color: var(--paper-chip-secondary-text-color, --secondary-text-color);
  font-size: 0;
  height: 0;
}
:host(:not([opened])) #removeBtn,
:host(:not([opened])) #removeBtn /deep/ iron-icon {
  width: 0;
  height: 0;
  margin: 0;
}
:host(:not([opened])) #content {
  width: 0;
  height: 0;
  min-width: 100%;
  overflow: hidden;
}
:host(:not([opened])) #label ::content h1 {
  color: var(--paper-chip-secondary-text-color, --secondary-text-color);
}

/* opened state */
:host([opened]) #main, :host([opened]) #chip {
  border-radius: 0;
}
:host([opened]) #content {
  height: auto;
  width: auto;
  min-width: 100%;
  overflow: hidden;
}
:host([opened]) #chip {
  height: 72px;
}
:host([opened]) #chip,
:host([opened]) #content ::content > * {
  padding: 16px 12px;
  background-color: var(--paper-chip-opened-background-color, --paper-grey-50);
}
:host([opened]) #label ::content h1 {
  color: var(--paper-chip-primary-text-color, --primary-text-color);
  font-size: 16px;
}
:host([opened]) paper-material {
  border-radius: 0; 
}
:host([opened]) #icon ::content .icon,
:host([opened]) #icon ::content iron-icon.icon svg {
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

/* open + active state */
:host([opened][active]) #chip,
:host([opened][active]) ::content {
  background-color: var(--paper-chip-active-color, --accent-color);
  color: var(--paper-chip-active-text-color, --text-primary-color);
}
:host([opened][active]) #removeBtn {
  color: var(--paper-chip-active-color, --accent-color);
  background-color: var(--paper-chip-active-text-color, --text-primary-color);
}
:host([opened][active]) #chip #label ::content h1 {
  color: var(--paper-chip-active-text-color, --text-primary-color);
}
:host([opened][active]) #chip #label ::content h2 {
  color: var(--paper-chip-active-secondary-text-color, --text-primary-color);
}
    
